<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer"
        class="site-footer">

    <div class="footer-inner">


        <div class="footer-brand">

            <strong>
                MyBoard
            </strong>

            <p>
                다양한 이야기를 나누고<br>
                정보를 공유하는 커뮤니티입니다.
            </p>

        </div>


        <div class="footer-info">

            <div class="footer-links">

                <a href="#">
                    이용약관
                </a>

                <a href="#">
                    개인정보처리방침
                </a>

                <a href="#">
                    문의하기
                </a>

            </div>

            <div class="footer-copy">

                © 2026 MyBoard. All rights reserved.

            </div>

        </div>

    </div>

</footer>

</html>